{% extends 'base.html.twig' %}
{% block title offre.libelle %}
{% block loguer %} {{app.user.nom}}  {{app.user.prenom}} {% endblock %}
{% block body %}
	<div class="container mt-4">
		<div class="card">
			<div class="card-header">
				    <center><h2>Ajouter une offre</h2></center>
			</div>
			<div class="card-body">
				{{ form_start(form) }}
				<div class="row">
					<div class="col-md-3" > {{ form_row(form.libelle) }} </div>
					<div class="col-md-3"> {{ form_row(form.prix) }} </div>
					<div class="col-md-3"> {{ form_row(form.quantite) }} </div>
					<div class="col-md-3"> {{ form_row(form.total) }} </div>
				</div>
				<button class="btn btn-primary"> Enregistrer </button>

				<a href=" {{path('home')}} " class="btn btn-danger">Annuler</a> 
				{{ form_end(form) }}
				
				</div>
		</div>
		
	</div>
{% endblock %}