{% extends 'base.html.twig' %}

{% block title "Acceuil" %}
{% block loguer %} {{app.user.nom}}  {{app.user.prenom}} {% endblock %}

{% block alert %}
	{% if bientot is empty%}

	{% else %}
	<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fas fa-bell fa-fw"></i>
		                <!-- Counter - Alerts -->
		<span class="badge badge-danger badge-counter">{{ bientot|length() }}</span>
	</a>
	<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
			<h6 class="dropdown-header">
			    Des séjours finissent dans moin de deux jours
			</h6>
	{% for info in bientot %}
		
			<a class="dropdown-item d-flex align-items-center" href="{{path('recep.identification.consult',{id:info.id})}}">
			   	<div class="mr-3">
				    <div class="icon-circle bg-primary">
				        <i class="fas fa-file-alt text-white"></i>
				    </div>
			   	</div>
			    <div>
			    	<div class="small text-gray-500">{{ info.livedAt| date('d/M/Y') }}</div>
			        <span class="font-weight-bold">Le séjour de Mr {{ info.client.nom }}</span>
			    </div>
			</a>
	 	
	 {% endfor %}
	 </div>
 	{% endif %}
{% endblock %}

{% block message %} 
	{% if Terminer is empty%}

	{% else %}
	<a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fas fa-envelope fa-fw"></i>
		<span class="badge badge-danger badge-counter">{{Terminer|length()}}</span>
		              </a>
		<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
			<h6 class="dropdown-header">
			    séjours expirés mais  pas encore facturés
			</h6>
		{% for info in Terminer %}              
			
			    <a class="dropdown-item d-flex align-items-center" href="{{path('recep.identification.consult',{id:info.id})}}">
			        <div class="mr-3">
					    <div class="icon-circle bg-primary">
					        <i class="fas fa-file-alt text-white"></i>
					    </div>
				   	</div>
				    <div>
				    	<div class="small text-gray-500">{{ info.livedAt| date('d/M/Y') }}</div>
				        <span class="font-weight-bold">Le séjour de Mr {{ info.client.nom }}</span>
				    </div>
			    </a>
			
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block body %}
<h1 class="header mt-4" style="text-align: center;">Bienvenu sur Brain Hotel</h1>

	<div class="row">
		<div class="col-lg-3">
			<a href=" {{path('admin.user.index')}} ">
				<div class="card">
				  <div class="card-header">
				    <center><g>Utilisateurs  </g> </center>
				  </div>
				  <div class="card-body">
				    <center><img width="150" height="150"  src=" {{asset('user1.png')}} " alt=""></center>
				  </div>
				</div>
			</a>
		</div>
		<div class="col-lg-3">
			<a href="{{path('admin.client.index')}}">
				<div class="card">
				  <div class="card-header">
				    <center>Clients</center>
				  </div>
				  <div class="card-body">
				    <center><img width="150" height="150" src=" {{asset('client.png')}} " alt=""></center>
				  </div>
				</div>
			</a>
		</div>
		<div class="col-lg-3">
			<a href="{{path('admin.offre.index')}}">
				<div class="card">
				  <div class="card-header">
				    <center>Offres</center>
				  </div>
				  <div class="card-body">
				    <center><img width="150" height="150"  src=" {{asset('room.png')}} " alt=""></center>
				  </div>
				</div>
			</a>
		</div>
		<div class="col-lg-3">
			<a href="{{path('recep.identification.index')}}">
				<div class="card">
				  <div class="card-header">
				    <center>Identification de Reservation</center>
				  </div>
				  <div class="card-body">
				    <center><img width="150" height="150"  src=" {{asset('room.png')}} " alt=""></center>
				  </div>
				</div>
			</a>
		</div>
	</div>	

	<div class="row">
		<div class="col-lg-4">
			<a href="#">
				<div class="card">
				  <div class="card-header">
				    <center>Stock</center>
				  </div>
				  <div class="card-body">
				    <center><img width="150" height="150"  src=" {{asset('stock.png')}} " alt=""></center>
				  </div>
				</div>
			</a>
		</div>
		<div class="col-lg-4">
			<a href="{{path('recep.reservation.index')}}">
				<div class="card">
				  <div class="card-header">
				    <center>Reservations</center>
				  </div>
				  <div class="card-body">
				    <center><img width="150"  src=" {{asset('reservation.png')}} " alt=""></center>
				  </div>
				</div>
			</a>
		</div>
		<div class="col-lg-4">
			<a href="{{path('recep.location.index')}}">
				<div class="card">
				  <div class="card-header">
				    <center>Location de salles</center>
				  </div>
				  <div class="card-body">
				    <center><img width="150" height="150" src=" {{asset('location.png')}} " alt=""></center>
				  </div>
				</div>
			</a>
		</div>
	</div>	
{% endblock %}