f{% extends 'base.html.twig' %}
{% block title "test" %}
{% block body %}
{% for message in app.flashes('erreur') %}
		<div class=" alert alert-danger">
			{{message}}
		</div>
{% endfor %}
	<div class="container">
		<div class="card">
			<div class="card-header">
				   <div class="row">
						<h2>Informations sur la reservation</h2>
						<div class="col-lg-3">
						
						</div>
						<div class="col-lg-4">
							<a href="{{path('recep.reservation.etape1')}}" class="btn btn-danger btn-icon-split"
							onclick="return confirm('Toutes les données saisies seront perdus')">
				                    <span class="icon text-white-50">
				                      <i class="fas fa-arrow-left"></i>
				                    </span>
				                    <span class="text">Etape 1</span>
				                 </a>
								<a href="#" class="btn btn-primary btn-icon-split">
				                    <span class="icon text-white-50">
				                      <i class="fas fa-flag"></i>
				                    </span>
				                    <span class="text">Etape 2</span>
				                </a>
						</div>
				   </div>
			</div>
			<div class="card-body">
			<form class=" form" method="post" action=" {{path('recep.reservation.new')}} ">
				<div class="card">
				    	<h4>Informations du client</h4>
					<div class="card-body" >
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">CNI</label>
									<input name="cni" type="text" class="form-control" placeholder="CNI du client" required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Nom</label>
									<input name="nom" type="text" class="form-control" placeholder="Nom du client" required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Prenom</label>
									<input name="prenom" type="text" class="form-control" placeholder="Prenom du client" required="required">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Telephone</label>
									<input name="telephone" type="number" class="form-control" placeholder="Telephone du client" required="required">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Email</label>
									<input name="email" type="email" class="form-control" placeholder="Mail du client" >
								</div>
							</div>
						</div>
						
					</div>
				</div>


				<div class="card">
				    	<h4>Informations de la reservation</h4>
					<div class="card-body" >
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Date debut</label>
									<input id="date1" name="begin_at" type="Date" class="form-control" placeholder="Date debut" required="required">
								</div>
							</div>
							<div class="col-md-3" id="dtfin" style="display: none;">
								<div class="form-group">
									<label for="exampleInputEmail1">Date Fin</label>
									<input id="date2" name="end_at" type="Date" class="form-control" placeholder="Date fin" required="required">
								</div>
							</div>
							<div class="col-md-3" id="avnc" style="display: none;">
								<div class="form-group">
									<label for="exampleInputEmail1">Avance</label>
									<input name="avance" value="0" type="number" class="form-control">
								</div>
							</div>
							<div class="col-md-3" id="pt" style="display: none;">
								<div class="form-group">
									<label for="exampleInputEmail1">Prix Total</label>
									<input id="prixtotal" name="prixtotal" type="number" class="form-control" readonly="readonly" required="required">
								</div>
							</div>
						<div id="auday" style="display: none;">
							<div class=" alert alert-danger col-md-11">
								Attention la date de debut doit être minimum aujourd'hui
							</div>
						</div>
						<div id="diference" style="display: none;">
							<div class=" alert alert-danger col-md-6">
								Attention la date de debut ne peut pas être apres la date de fin
							</div>
						</div>
						</div>
					</div>
				</div>

				<div class="card">
				    	<h4>Informations de l'offre</h4>
					<div class="card-body" >
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">libellé</label>
									<input  name="libelle" value=" {{offre.libelle}} " type="text" class="form-control" readonly="readonly">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Etage</label>
									<input name="etage" value="{{offre.etage}}" type="number" class="form-control" readonly="readonly">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Porte</label>
									<input name="porte" value=" {{offre.porte}}" type="text" readonly="readonly" class="form-control">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>Prix </label>
									<input id="prix" name="prix" type="number" value="{{offre.prix}}" class="form-control" readonly="readonly">
									<input name="id_offre" type="hidden" value="{{offre.id}}">
									<input type="hidden" name="_token" value="{{csrf_token('add')}}">
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-4">
									<div class="form-group" id="valider">
										<button type="submit" id="final" class="btn btn-success btn-icon-split">
											 <span class="icon text-white-50">
						                      <i class="fas fa-check"></i>
						                    </span>
						                    <span class="text">Terminer</span>
										</button>
										<a href=" {{path('recep.reservation.index')}} " class="btn btn-danger btn-icon-split">
						                    <span class="icon text-white-50">
						                      <i class="fas fa-trash"></i>
						                    </span>
						                    <span class="text">Annuler</span>
						                </a>
									</div>
							</div>
							<div class="col-lg-4">
						
							</div>
							<div class="col-lg-4">
								<a href=" {{path('recep.reservation.etape1')}} " class="btn btn-danger btn-icon-split" onclick="return confirm('Toutes les données saisies seront perdus')">
				                    <span class="icon text-white-50">
				                      <i class="fas fa-arrow-left"></i>
				                    </span>
				                    <span class="text">Etape 1</span>
				                 </a>
								<a href="#" class="btn btn-primary btn-icon-split">
				                    <span class="icon text-white-50">
				                      <i class="fas fa-flag"></i>
				                    </span>
				                    <span class="text">Etape 2</span>
				                 </a>
							</div>
						</div>


					</div>
				</div>
			</form>
			</div>
		</div>
		
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		function diffdate(d1,d2){
			var jour = d2.getTime() - d1.getTime();
			return Math.ceil(jour/(1000*60*60*24));
		}
        document.getElementById("date1").onchange = function() { 
        	var dte_1 = document.getElementById("date1").value;
        	var date1 = new Date(dte_1);
        	var date = new Date();
        	var actuel = diffdate(date,date1);
        	if((actuel + 1) >= 1){
        		document.getElementById("dtfin").style.display = "inline";
        		document.getElementById("auday").style.display = "none";
        		document.getElementById("diference").style.display = "none";
        		document.getElementById("valider").style.display = "inline";
        	}else{
        		document.getElementById("valider").style.display = "none";
        		document.getElementById("dtfin").style.display = "none";
        		document.getElementById("avnc").style.display = "none";
        		document.getElementById("pt").style.display = "none";
        		document.getElementById("diference").style.display = "none";
        		document.getElementById("auday").style.display = "inline";
        	}
        }

        document.getElementById("date2").onchange = function() { 
        	var dte_1 = document.getElementById("date1").value;
        	var dte_2 = document.getElementById("date2").value;
        	var date1 = new Date(dte_1);
        	var date2 = new Date(dte_2);
        	var jour = diffdate(date1,date2);
        	if((jour + 1) >= 1){
        		document.getElementById("valider").style.display = "inline";
        		document.getElementById("avnc").style.display = "inline";
        		document.getElementById("pt").style.display = "inline";
        		document.getElementById("auday").style.display = "none";
        		document.getElementById("diference").style.display = "none";
        		var prx = document.getElementById("prix").value;
        		document.getElementById("prixtotal").value = prx * jour;
        	}else{
        		document.getElementById("valider").style.display = "none";
        		document.getElementById("avnc").style.display = "none";
        		document.getElementById("pt").style.display = "none";
        		document.getElementById("auday").style.display = "none";
        		document.getElementById("diference").style.display = "inline";
        		document.getElementById("prixtotal").value = 0;
        	}
        }  
    </script>
{% endblock %}