{% extends 'base.html.twig' %}

{% block title "Chart" %}
{% block loguer %}{{app.user.nom}}  {{app.user.prenom}}{% endblock %}

{% block body %}

        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Taux d'occupation des chambres</h1>
          <p class="mb-4"></p>

          <!-- Content Row -->
          <div class="row">

            <!-- Donut Chart -->
             <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                </div>
                <div class="card-body">
                  <div class="chart-bar">
                    <canvas id="myBarChart"></canvas>
                  </div>
                  <hr>
                  Styling for the bar chart can be found in the <code>/js/demo/chart-bar-demo.js</code> file.
                </div>
              </div>

            </div>
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Occupation des chambres</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <hr>
                  Taux d'occupation des différentes <code>Chambres</code> de l'hotel
                </div>
              </div>
            </div>
          </div>

        </div>

	
{% endblock %}

{% block script %}
		<script src="{{ asset('Chart.min.js')}}"></script>
	  	<script src="{{ asset('chart-area-demo.js')}}"></script>
	 	<script src="{{ asset('chart-pie-demo.js')}}"></script>
	 	<script src="{{ asset('chart-bar-demo.js')}}"></script>
{% endblock %}