{% extends 'base.html.twig' %}
{% block title "Repas étape 2" %}
{% block loguer %} {{app.user.nom}}  {{app.user.prenom}} {% endblock %}
{% block body %}
<div ng-app="hotelApp" ng-controller="addFoodController"  ng-init="depart()">
{% for message in app.flashes('erreur') %}
		<div class=" alert alert-danger">
			{{message}}
		</div>
{% endfor %}
<div class="row">
	<div class=" alert alert-danger col-lg-12" id="erreurHeure" style="display: none;">
			On ne peut plus servir des repas de cette catégorie à cette heure
	</div>
	<div class=" alert alert-danger col-lg-12" ng-show="vue">
			Echec de l'opération veuillez vérifier la connexion au serveur
	</div>
</div>
<div></div>
	<div class="container">
		<div class="card" >
			<div class="card-header">
				   <div class="row">
						<h2>Etape 2 (Repas)</h2>
						<div class="col-lg-3">
						
						</div>
						<div class="col-lg-4">
							<a href="{{path('recep.consomation.etape1')}}" class="btn btn-danger btn-icon-split" onclick="return confirm('Toutes les données saisies seront perdus')">
				                    <span class="icon text-white-50">
				                      <i class="fas fa-arrow-left"></i>
				                    </span>
				                    <span class="text">Etape 1</span>
				                 </a>
								<a href="#" class="btn btn-primary btn-icon-split">
				                    <span class="icon text-white-50">
				                      <i class="fas fa-flag"></i>
				                    </span>
				                    <span class="text">Etape 2</span>
				                </a>
						</div>
				   </div>
			</div>
			<div class="card-body">
				<h4>Informations du client</h4>
				<hr>
			<form class=" form" method="post" action="#">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Nom</label>
									<input name="nom" value=" {{client.nom}} " type="text" class="form-control" readonly="readonly">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Prenom</label>
									<input name="prenom" type="text" value=" {{client.prenom}} " class="form-control" readonly="readonly">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Téléphone</label>
									<input name="nationalite" type="text" value=" {{client.telephone}} " class="form-control" readonly="readonly">
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">CNI/Passeport *</label>
									<input name="cni" type="text" value=" {{client.cni}} " class="form-control" readonly="readonly">
								</div>
							</div>
							
						</div>
						
						<h4>Informations du repas</h4>
						<hr>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label>Quantité :</label>
									<input name="quantite"  id="quantite" type="number" required="required" class="form-control" ng-model="quantite" value="1">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label >Type de repas</label>
									<select ng-model="id" id="repa" name="repas" class="form-control">
										{% for repa in repas %}
										<option value="{{repa.id}}" test1 ="{{repa.prix}} " test2 ="{{repa.heure}}" test3 = "{{repa.type}} "> {{repa.type}} {{repa.prix}} </option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>Prix :</label>
									<input name="cout" ng-model="prix"  id="cout" type="text" readonly="readonly" class="form-control">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>Heures</label>
									<input name="heure" type="text" class="form-control" id="heure" readonly="readonly">
									<input type="hidden" name="_token" value="{{csrf_token('add')}}">
									<input type="hidden" name="client" id="client" value="{{client.id}}">
									<input type="hidden" name="client" id="type" ng-mode="type">
									<input type="hidden" name="client" id="prix" ng-model="prix">
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-lg-3">
								<button type="button" ng-click="addPlat()" class="btn btn-primary ">Ajouter le Plat</button>
							</div>
						</div>
						<hr>
						
						<h4>Liste des plats</h4>
						<table datatable="ng" dt-options="vm.dtOptions" class="table table-bordered"  width="100%">
						            <thead>
										<tr>
											<th>Type</th>
											<th>Prix</th>
											<th>Quantité</th>
											<th>Cout</th>
											<th>Retirer</th>
										</tr>
									</thead>
							<tbody>

									<tr ng-repeat="plat in listePlat">

										<td> {{ '{{plat.type}}' }} </td>
										<td> {{ '{{plat.prix}}' }} </td>
										<td> {{ '{{plat.quantite}}' }} </td>
										<td> {{ '{{plat.total}}' }} </td>
										<td>
											<a href  ng-click="remove($index)"><i class="fas fa-fw fa-user-check"></i></a>
										</td>
									</tr>
							</tbody>
						</table>
						</div>
						<div class="card-footer">
							<div class="row">
								<div class="col-lg-4">
									<button type="button" ng-click="sendData()" class="btn btn-primary ">Enregistrer le repas</button>
										<a href="#" class="btn btn-warning btn-icon-split">
						                    <span class="icon text-white-50">
						                      <i class="fas fa-flag"></i>
						                    </span>
						                    <span class="text">Annuler</span>
						                </a>
								</div>
							</div>
						</div>
					</form>
			</div>
		
	</div>


	<div class="modal fade" tabindex="-1" role="dialog" id="crudmodal">
	 <div class="modal-dialog" role="document">
	     <div class="modal-content">
	         <div class="modal-header">
	         	<h4 class="modal-title">Opération en cours</h4>
	         </div>
	         <div class="modal-body">
	         	<h3 class="small font-weight-bold">Opération en cours</h3>
                  <div class="progress mb-4">
                    <div id="barre" class="progress-bar bg-succes" role="progressbar" style="width: 100%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
	         </div>
	         <div class="modal-footer">

	         </div>
	     </div>
	   </div>
	</div>




</div>
{% endblock %}

{% block script %}
	<script src=" {{ asset('angular.min.js')}}"></script>
	<script src=" {{ asset('angular-datatables.min.js')}}"></script>
	<script type="text/javascript">
		var app = angular.module('hotelApp',['datatables']);
		app.controller('addFoodController',function($window,$scope,$http){
			$scope.depart = function(){
				$scope.listePlat=[];
				$scope.position = 0;
				$scope.vue = false;
			};
			$scope.addPlat = function(){
				var cout = angular.element('#cout').val();
				var type = angular.element('#type').val();
				var prix = angular.element('#prix').val();
				$scope.position = $scope.position + 1;
				$scope.plat = {
					'id':$scope.id,
					'type':type,
					'prix':prix,
					'quantite':$scope.quantite,
					'total':cout,
				}
				$scope.listePlat.push($scope.plat);
				$scope.quantite = 1;
				$scope.id="";

			};
			$scope.remove = function(indice){
				alert(indice);
				$scope.listePlat.splice(indice,1);
			}
			$scope.sendData= function(){
				$scope.vue = false;
				var longuer = $scope.listePlat.length;
				if(longuer <= 0){
					alert("Impossible d'Enregistrer un repas vide");
					return;
				}
				var client = angular.element('#client').val();
				var donnee = [];
				$scope.listePlat.forEach(function(element){
					donnee.push({
						'repas':parseInt(element.id,10),
						'client':parseInt(client,10),
						'quantite':parseInt(element.quantite,10),
					})
				})
				var modal_popup = angular.element('#crudmodal');
  				modal_popup.modal('show');
				$http({
					method:"POST",
					url:"http://127.0.0.1:8000/recep/consomation/json",
					data: donnee,
				}).then(function(data){
					if(data.data.status == "ok"){
						$window.location.href = 'http://127.0.0.1:8000/recep/consomation';
					}else{
						$scope.vue = true;
					}
					var modal_popup = angular.element('#crudmodal');
 					modal_popup.modal('hide'); 
				}).catch(function(data){
					$scope.vue = true;	
					var modal_popup = angular.element('#crudmodal');
 					modal_popup.modal('hide'); 
				});
			}

		});
	</script>
	<script type="text/javascript">
		function diffdate(d1,d2){
			var jour = d2.getTime() - d1.getTime();
			return Math.ceil(jour/(1000*60*60*24));
		}
		document.getElementById("repa").onchange = function(){
			var prix = document.getElementById("repa").options[document.getElementById("repa").selectedIndex].getAttribute("test1");
			var heure = document.getElementById("repa").options[document.getElementById("repa").selectedIndex].getAttribute("test2");
			var type = document.getElementById("repa").options[document.getElementById("repa").selectedIndex].getAttribute("test3");
			var quantite = document.getElementById("quantite").value;
			document.getElementById("heure").value = heure;
			document.getElementById("type").value = type;
			document.getElementById("prix").value = prix;
			document.getElementById("cout").value = prix * quantite;
			
		}  
    </script>
{% endblock %}