<!DOCTYPE html>
<html>
    <head>
    	<style>
    		@page {
                margin: 100px 25px;
            }

            header {
                position: fixed;
                top: -90px;
                left: 0px;
                right: 0px;
                height: 50px;

                /** Extra personal styles **/
                background-color: #03a9f4;
                color: white;
                text-align: center;
                line-height: 35px;
            }

            footer {
                position: fixed; 
                bottom: -90px; 
                left: 0px; 
                right: 0px;
                height: 50px; 

                /** Extra personal styles **/
                /*background-color: #03a9f4;
                color: white;**/
                text-align: left;
                line-height: 35px;
            }
        </style>

        <meta charset="UTF-8">
        <title>Title of the PDF</title>
        <link href=" {{asset('all.min.css')}} " rel="stylesheet" type="text/css">
		  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		  <link href="{{asset('sb-admin-2.min.css')}}" rel="stylesheet">
		  <link href="{{asset('dataTables.bootstrap4.min.css')}}" rel="stylesheet">
    </head>
    <body id="page-top"> 
    	<header>
    		<img align="left" src="/ProjetSymfony/hotel/templates/pdf/logo.jpg" width="50" height="50" >
    		<center><strong>Le {{"now"|date("d M Y / H:m:s")}} CICM HOTEL Facture N° {{identification.numeroidentification}}</strong></center>
        </header>
        <footer>
            <p><strong>LA DIRECTION</strong></p>
        </footer>
        <main>
					<center>
						<img src="/ProjetSymfony/hotel/templates/pdf/logo.jpg" width="100" height="100" >
					</center>
					<center>Facture N°  {{identification.numeroidentification}}</center>
						<div >
							<center><h4 style="margin-top: 40px; margin-left: 15px;">FACTURE  DE Mr/Mme {{identification.client.nom}} {{identification.client.prenom}} OBJET: OCCUPATION DE LA CHAMBRE {{identification.offre.libelle}} </h4></center>
							<table width="100%"  cellpadding="7" border="1" style="border-collapse: collapse;">
								<tr style="font-size: 20px;text-align: center; height: 150px;">
									<td colspan="4">INFORMATIONS DE BASES</td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px;">
									<td>&nbsp;Nom du client</td>
									<td>&nbsp;<strong>{{identification.client.nom}}</strong></td>
									<td>&nbsp;Prenom </td>
									<td>&nbsp;<strong>{{identification.client.prenom}}</strong></td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px;height: 100px;">
									<td>&nbsp;Date de debut</td>
									<td>&nbsp;<strong>{{identification.arrivedat|date("d/m/Y")}}</strong></td>
									<td>&nbsp;Date de fin</td>
									<td>&nbsp;<strong>{{identification.livedat|date('d/m/Y')}}</strong></td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px;height: 100px;">
									<td>&nbsp;Chambre</td>
									<td>&nbsp;<strong>{{identification.offre.libelle}}</strong></td>
									<td>&nbsp;Porte</td>
									<td>&nbsp;<strong>{{identification.offre.porte}}</strong></td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
									<td>&nbsp;Avance</td>
									<td colspan="3">&nbsp;<strong>{{identification.avance}} Cfa</strong></td>
								</tr>
								<tr style="font-size: 20px;text-align: center; height: 150px;">
									<td colspan="4">LISTE DES AVANCES</td>
								</tr>
								{% for paiement in identification.paiements %}
											<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
												<td>&nbsp;Date</td>
												<td>&nbsp;<strong>{{paiement.madeat |date("d/m/Y")}} </strong></td>
												<td>&nbsp;Montant</td>
												<td>&nbsp;<strong>{{paiement.montant|number_format}} Cfa</strong></td>
											</tr>
								{% endfor %}
								<tr style="font-size: 20px;text-align: center; height: 150px;">
									<td colspan="4">RECAPITULATIF</td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
									<td colspan="2">Coût Total: </td>
									<td style="background-color: rgb(245,245,245); text-align: center;" colspan="2"><strong>{{identification.cout|number_format }} FCfa</strong></td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
									<td colspan="2">Remise: </td>
									<td style="background-color: rgb(245,245,245); text-align: center;" colspan="2"><strong>{{identification.remise }} % soit {{(identification.remise*identification.cout/100)|number_format }} FCfa</strong></td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
									<td colspan="2">Avance Totale: </td>
									<td style="background-color: rgb(245,245,245); text-align: center;" colspan="2"><strong>{{identification.avance|number_format}} FCfa</strong></td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
									<td colspan="2">Coût extra (Jours en plus): </td>
									<td style="background-color: rgb(245,245,245); text-align: center;" colspan="2"><strong>{{identification.coutextra|number_format}} FCfa</strong></td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
									<td colspan="2">NET A PAYER: </td>
									<td style="background-color: rgb(240,240,240); text-align: center;" colspan="2"><strong>{{(((identification.cout + identification.coutextra) - 
								(identification.remise*identification.cout/100))-identification.avance)|number_format}} FCfa</strong></td>
								</tr>
							</table>
							<center>
								<p style="font-size: 20px; margin-left: 10px;"> Arreté la présente à la somme de <strong>{{(((identification.cout + identification.coutextra) - 
								(identification.remise*identification.cout/100))-identification.avance)|number_format}} FCfa</strong></p>
							</center>
							<p><strong>LA DIRECTION</strong></p>
							
						</div>
			</main>
    </body>
</html>