<!DOCTYPE html>
<html>
    <head>
    	<style>
    		@page {
                margin: 100px 25px;
            }

            header {
                position: fixed;
                top: -90px;
                left: 0px;
                right: 0px;
                height: 50px;

                /** Extra personal styles **/
                background-color: #03a9f4;
                color: white;
                text-align: center;
                line-height: 35px;
            }

            footer {
                position: fixed; 
                bottom: -90px; 
                left: 0px; 
                right: 0px;
                height: 50px; 

                /** Extra personal styles **/
                /**background-color: #03a9f4;**/
                /**color: white;**/
                text-align: left;
                line-height: 35px;
            }
        </style>

        <meta charset="UTF-8">
        <title>Title of the PDF</title>
        <link href=" {{asset('all.min.css')}} " rel="stylesheet" type="text/css">
		  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		  <link href="{{asset('sb-admin-2.min.css')}}" rel="stylesheet">
		  <link href="{{asset('dataTables.bootstrap4.min.css')}}" rel="stylesheet">
    </head>
    <body id="page-top"> 
    	<header>
    		<img align="left" src="/ProjetSymfony/hotel/templates/pdf/logo.jpg" width="50" height="50" >
    		<center><strong> Le {{"now"|date("d M Y / H:m:s")}} CICM HOTEL Facture N° CICM/{{proformat.id}}/PRO</strong></center>
        </header>
        <footer>
        	<p><strong>LA DIRECTION</strong></p>
        </footer>
        <main>
					<center>
						<img src="/ProjetSymfony/hotel/templates/pdf/logo.jpg" width="100" height="100" >
					</center>
					<center>Facture N°  CICM/{{proformat.id}}/PRO</center>
						<div >
							<center><h4 style="margin-top: 40px; margin-left: 15px;">FACTURE PROFORMAT POUR l'EVENEMENT {{proformat.motif}}</h4></center>
							<table width="100%"  cellpadding="7" border="1" style="border-collapse: collapse;">
								<tr style="font-size: 20px;height: 150px;">
									<td colspan="8">INFORMATIONS DE BASES</td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px;">
									<td colspan="5"><strong>Motif</strong></td>
									<td colspan="3"><strong>Date</strong></td>
								</tr>
								<tr style="font-size: 20px;margin-left: 10px;">
									<td colspan="5">{{proformat.motif}}</strong></td>
									<td colspan="3">{{proformat.madeat|date('d/m/y')}}</strong></td>
								</tr>
								<tr style="font-size: 20px; height: 150px;">
									<td colspan="8">LISTE DES SALLES</td>
								</tr>
								<tr style="font-size: 20px;text-align: center; height: 150px;">
											<td colspan="4"><strong>Salle </strong></td>
											<td><strong>Prix/Jr</strong> </td>
											<td ><strong>Places</strong> </td>
											<td ><strong>Jour(s)</strong> </td>
											<td ><strong>Total</strong> </td>
								</tr>
								{% for proformatSalle in proformatS %}
										<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
											<td colspan="4">{{proformatSalle.salle.typesalle}}</td>
											<td>{{proformatSalle.salle.prix|number_format}}</td>
											<td >{{proformatSalle.salle.places}}</td>
											<td >{{proformatSalle.day}}</td>
											<td><strong> {{proformatSalle.cout|number_format}} Frs</strong> </td>
										</tr>
								{% endfor %}

								<tr style="font-size: 20px; height: 150px;">
									<td colspan="8">LISTE DES CHAMBRES</td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
											<td colspan="5"><strong>Libelle </strong></td>
											<td><strong>Prix/Jr</strong> </td>
											<td ><strong>Nuité(s)</strong> </td>
											<td><strong>Total</strong> </td>
								</tr>
								{% for proformatOffre in proformatO %}
										<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
											<td colspan="5"><strong> {{proformatOffre.offre.libelle}}  </strong></td>
											<td><strong> {{proformatOffre.offre.prix|number_format}}</strong> </td>
											<td ><strong> {{proformatOffre.nuite}}</strong> </td>
											<td><strong> {{proformatOffre.cout|number_format}} Frs</strong> </td>
										</tr>
								{% endfor %}

								<tr style="font-size: 20px; height: 150px;">
									<td colspan="8">LISTE DES REPAS</td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
											<td colspan="5"><strong>Repas </strong></td>
											<td><strong>Prix</strong> </td>
											<td ><strong>Quantité(s)</strong> </td>
											<td><strong>Total</strong> </td>
								</tr>
								{% for proformatRepas in proformatR %}
										<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
											<td colspan="5"><strong> {{proformatRepas.repas.type}}  </strong></td>
											<td><strong> {{proformatRepas.repas.prix|number_format}}</strong> </td>
											<td ><strong> {{proformatRepas.quantite}}</strong> </td>
											<td><strong> {{proformatRepas.cout|number_format}} Frs</strong> </td>
										</tr>
								{% endfor %}
								<tr style="font-size: 20px; height: 150px;">
									<td colspan="8">RECAPITULATIF</td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
									<td colspan="4">Coût Total Normal: </td>
									<td style="background-color: rgb(245,245,245); text-align: center;" colspan="4"><strong>{{proformat.cout|number_format }} FCfa</strong></td>
								</tr>
								<tr style="font-size: 20px; margin-left: 10px; height: 100px;">
									<td colspan="4">NET A PAYER: </td>
									<td style="background-color: rgb(240,240,240); text-align: center;" colspan="4"><strong>{{proformat.cout|number_format}} FCfa</strong></td>
								</tr>
							</table>
							<center>
								<p style="font-size: 20px; margin-left: 10px;"> Arreté la présente à la somme de <strong>{{proformat.cout|number_format}} FCfa</strong></p>
							</center>
						</div>
			</main>
    </body>
</html>