{% extends 'base.html.twig' %}
{% block title client.nom %}
{% block loguer %}{{user.nom}}  {{user.prenom}}{% endblock %}
{% block body %}
	<div class="container mt-4">
		<div class="card">
			<div class="card-header">
				    <center><h2>Ajouter un Client</h2></center>
			</div>
			<div class="card-body">
				{{ form_start(form) }}
				<div class="row">
					<div class="col-md-3" > {{ form_row(form.nom) }} </div>
					<div class="col-md-3"> {{ form_row(form.prenom) }} </div>
					<div class="col-md-3"> {{ form_row(form.cni) }} </div>
					<div class="col-md-3"> {{ form_row(form.cni_made_at) }} </div>
				</div>
				
				<div class="row">
					<div class="col-md-3"> {{ form_row(form.telephone) }} </div>
					<div class="col-md-3"> {{ form_row(form.email) }} </div>
					<div class="col-md-3"> {{ form_row(form.nationalite) }} </div>
					<div class="col-md-3"> {{ form_row(form.profession) }} </div>
				</div>

				<div class="row">
					<div class="col-md-3"> {{ form_row(form.pays_residence) }} </div>
					<div class="col-md-3"> {{ form_row(form.born_at) }} </div>
					<div class="col-md-3"> {{ form_row(form.lieu_de_naissance) }} </div>
					<div class="col-md-3"> {{ form_row(form.sexe) }} </div>
				</div>
				<div class="row">
					<div class="col-md-3"> {{ form_row(form.type) }} </div>
				</div>
				<button class="btn btn-primary"> Enregistrer </button>

				<a href=" {{path('home')}} " class="btn btn-danger">Annuler</a> 
				{{ form_end(form) }}
				
				</div>
		</div>
		
	</div>
{% endblock %}