{% extends 'base.html.twig' %}

{% block title "Identification-index" %}
{% block loguer %} {{app.user.nom}}  {{app.user.prenom}} {% endblock %}

{% block body %}
<h1 class="header mt-4" style="text-align: center;">Liste des Identifications</h1>
<div class=" mt-6">
	{% set total = 0 %}
		<div class=" alert alert-success">
			Occupations totales de <strong> {{cout|number_format}}  Frs Cfa</strong> 
		</div>
		<br>
		<div class="card">
		<div class="card-header">
			<form method="post" action="{{path('admin.identification.inventaire.find')}}" class="form">
				<div class="row">
							<div class="col-md-2">
									<div class="form-group">
										Date debut
										<input name="date1" type="date" class="form-control">
									</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									Date fin
									<input name="date2" type="date" class="form-control">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									Clients
										<select id="client" name="client" class="form-control">
											<option value="john do"> ************* </option>
											{% for client in clients %}
											<option value="{{client.id}}" > {{client.nom}} {{client.prenom}} </option>
											{% endfor %}
										</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									   Type d'offres
										<select id="offres" name="offres" class="form-control">
											<option value="john do"> ************* </option>
											{% for offre in offres %}
											<option value="{{offre.id}}"> {{offre.libelle}} {{offre.prix}} </option>
											{% endfor %}
										</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									    Employé
										<select id="users" name="users" class="form-control">
											<option value="john do"> ************* </option>
											{% for user in users %}
											<option value="{{user.id}}"> {{user.nom}} {{user.prenom}} </option>
											{% endfor %}
										</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<a href="{{path('admin.identification.inventaire')}}">Voir le tout</a>
									<input value="Rechercher" type="submit" class="btn btn-primary">
								</div>
							</div>
						</div>
					</form>
			
		</div>
		<br>
		<div class="card-body">
		 <div class="table-responsive">
	                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                  <thead>
	                    <tr>
		                    <th>Informations Client</th>
							<th>Libellé</th>
							<th>Nombre</th>
							<th>Coût</th>
							<th>Date arrivée</th>
							<th>Date Départ</th>
							<th>Avance</th>
							<th>Action</th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                    	{% for identification in identifications %}
	                    	{% set total = total + identification.cout %}
								<tr>
									<td> {{identification.client.nom}} {{ identification.client.prenom}} </td>
									<td> {{identification.offre.libelle}} </td>
									<td> {{identification.nombrepersonne}} </td>
									<td> {{identification.cout }} </td>
									<td> {{identification.arrivedat|date("d/m/Y") }} </td>
									<td> {{identification.livedat|date("d/m/Y") }} </td>
									<td>{{identification.avance }}</td>
									<td>
										<a href=" {{path('recep.paiement.identification',{id:identification.id})}} "><i class="fas fa-check"></i><span></span></a>
										<a href=" {{path('recep.identification.edit',{id:identification.id,role:app.user.roles[0]})}} "><i class="fas fa-user-edit"></i><span></span></a>
										<a href="{{path('recep.identification.consult',{id:identification.id})}}">
								          <i class="fas fa-fw fa-address-card"></i>
								          <span></span>
								        </a>
									</td>
								</tr>
								
							{% endfor %}
	                  </tbody>
	                </table>
	            	</div>
					
	            </div>
	            <div class="card-footer">
						<div class=" alert alert-success" style="margin-top: 2">
							 {{identifications|length}} Occupation de chambre pour un total financier de <strong> {{total|number_format}}  Frs Cfa</strong> 
						</div>
				</div>
        </div>
		

	</div>
{% endblock %}
