{% extends 'base.html.twig' %}
{% block title "Identification 2" %}
{% block loguer %} {{app.user.nom}}  {{app.user.prenom}} {% endblock %}
{% block body %}
{% for message in app.flashes('erreur') %}
		<div class=" alert alert-danger">
			{{message}}
		</div>
{% endfor %}
<div class="row">
	<div class=" alert alert-danger col-lg-12" id="erreurRemise" style="display: none;">
			La remise accordée excède la remise prévue 
	</div>
	<div class=" alert alert-danger col-lg-12" id="erreurType" style="display: none;">
			Veuillez choisir un type de client valide
	</div>
</div>
	<div class="container">
		<div class="card">
			<div class="card-header">
				   <div class="row">
						<h2>Informations d'Identification</h2>
						<div class="col-lg-3">
						
						</div>
						<div class="col-lg-4">
							<a href="{{path('recep.reservation.etape1')}}" class="btn btn-danger btn-icon-split" onclick="return confirm('Toutes les données saisies seront perdus')">
				                    <span class="icon text-white-50">
				                      <i class="fas fa-arrow-left"></i>
				                    </span>
				                    <span class="text">Etape 1</span>
				                 </a>
								<a href="#" class="btn btn-primary btn-icon-split">
				                    <span class="icon text-white-50">
				                      <i class="fas fa-flag"></i>
				                    </span>
				                    <span class="text">Etape 2</span>
				                </a>
						</div>
				   </div>
			</div>
			<div class="card-body">
			<form class=" form" method="post" action=" {{path('recep.identification.new')}} ">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Nom</label>
									<input name="nom" value=" {{reservation.client.nom}} " type="text" class="form-control" readonly="readonly">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Prenom</label>
									<input name="prenom" type="text" value=" {{reservation.client.prenom}} " class="form-control" readonly="readonly">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Téléphone</label>
									<input name="nationalite" type="text" value=" {{reservation.client.telephone}} " class="form-control" readonly="readonly">
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">CNI/Passeport *</label>
									<input name="cni" type="text" value=" {{reservation.client.cni}} " class="form-control" readonly="readonly">
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">N° de chambre *</label>
									<input name="room" type="text" value=" {{reservation.offre.libelle}} " class="form-control" readonly="readonly">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Nationalité</label>
									<input name="nationalite" type="text" class="form-control" required="required" value=" {{reservation.client.nationalite}} " placeholder="Nationalité du client">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Pays résidence</label>
									<input name="paysresidence" type="text" class="form-control" required="required" value=" {{reservation.client.paysresidence}} " placeholder="Pays de résidence du client">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="profession">Profession </label>
									<input name="profession" type="text" class="form-control" required="required" value=" {{reservation.client.profession}} " placeholder="Profession du client">
								</div>
							</div>
							
						</div>

						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Date Naissance</label>
									<input name="datenaissance" value=" {{reservation.client.bornat | date('d/m/Y')}} " type="date" class="form-control" required="required">
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Lieu Naissance</label>
									<input name="lieunaissance" type="text" class="form-control" required="required" value=" {{reservation.client.lieudenaissance}} " placeholder="Lieu de Naissance du client">
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
									<label for="profession">Date CNI/Passeport  *</label>
									<input name="datecni" type="date"  value=" {{reservation.client.cnimadeat|date('d/m/Y')}} " class="form-control" required="required" placeholder="Profession du client">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Immatriculation </label>
									<input name="immatriculation" type="text" class="form-control" placeholder="Immatriculation du véhicule">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Prix par nuité</label>
									<input type="number" class="form-control" id="prix_nuite" name="prix_nuite" value="{{reservation.offre.prix}}" readonly="readonly">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Type de client *</label>
									<select name="type_client" id="type_client"  class="form-control">
										<option value="jondo">------------</option>
										<option value="client">Client</option>
										<option value="religieux">Réligieux</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Remise Ordinaire (%)</label>
									<input name="remise_ordinaire" id="remise_ordinaire" type="number" class="form-control"  readonly="readonly">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Remise accordée (%)</label>
									<input name="remise" id="remise_accordee" value="0" type="number" class="form-control" required="required" >
								</div>
							</div>
						</div>
						
						<h4>Autres Informations</h4>
						<hr>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Venant de :</label>
									<input name="venantde" type="text" class="form-control" required="required" placeholder="Ville de provenance">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Se rendant à</label>
									<input name="serendanta" type="text" class="form-control" required="required" placeholder="Ville destination">
									<input type="hidden" name="_token" value="{{csrf_token('add')}}">
									<input type="hidden" name="id" value="{{reservation.client.id}}">
									<input type="hidden" name="idR" value="{{reservation.id}}">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="profession">Nombre de personne </label>
									<input name="nombrepersonne" type="number" class="form-control" required="required" value="1">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Sexe</label>
									<select name="sexe"  class="form-control">
										<option value="jondo">------------</option>
										<option value="masculin">Homme</option>
										<option value="feminin">Femme</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Mode de règlement</label>
									<select name="reglement"  class="form-control">
										<option value="jondo">------------</option>
										<option value="cheque">Chèque</option>
										<option value="espece">Espèce</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Nombre de nuitées</label>
									<input name="nuite" type="number" id="nuite" class="form-control" value="0" required="required" >
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="exampleInputEmail1">Date de Arrivée</label>
									<input name="date_arrivee" id="date1" type="date" class="form-control" required="required" >
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group" id="date_end" style="display: none;">
									<label for="exampleInputEmail1">Date de départ</label>
									<input name="date_end" id="date_end1" type="text"  class="form-control" readonly="readonly" >
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group" id="cout_total_normal" style="display: none;">
									<label for="exampleInputEmail1">Cout Total Normal</label>
									<input name="cout_total_normal" id="cout_total_normal1" type="number"  class="form-control" readonly="readonly">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group" id="cout_total_remise" style="display: none;">
									<label for="exampleInputEmail1">Remise nette</label>
									<input name="cout_total_remise" id="cout_total_remise1" type="number"  class="form-control" readonly="readonly">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group" id="net_payer" style="display: none;">
									<label for="exampleInputEmail1">Net à payer</label>
									<input name="net_payer" id="net_payer1" type="number"  class="form-control" readonly="readonly">
								</div>
							</div>
						</div>
						</div>
						<input type="hidden" value="{{app.user.roles.0}}" name="roles" id="roles">

						<div class="card-footer">
							<div class="row">
								<div class="col-lg-4">
									<input type="submit" style="display: none;" id="valider" class=" btn btn-success" value="Enregistrer" name="">
										<a href="#" class="btn btn-warning btn-icon-split">
						                    <span class="icon text-white-50">
						                      <i class="fas fa-flag"></i>
						                    </span>
						                    <span class="text">Annuler</span>
						                </a>
								</div>
								<div class="col-lg-8">
									<div class="alert alert-danger" id="errorMsg" style="display: none;">
										Les dates ne sont pas valides veuillez les verifier pour terminer l'opération
									</div>
								</div>
							</div>
						</div>
					</form>
			</div>
		
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		function diffdate(d1,d2){
			var jour = d2.getTime() - d1.getTime();
			return Math.ceil(jour/(1000*60*60*24));
		}
        document.getElementById("date1").onchange = function() { 
        	var dte_1 = document.getElementById("date1").value;
        	var date1 = new Date(dte_1);
        	var date = new Date();
        	var actuel = diffdate(date,date1);
        	var date3 = new Date(); 
        	var remise = document.getElementById("remise_accordee").value;
        	var nuite = document.getElementById("nuite").value;
        	var prix = document.getElementById("prix_nuite").value;
        	date3.setDate(date1.getDate()+(nuite-1));

        	var prix = document.getElementById("prix_nuite").value;
        	var prix_total_normal = prix * nuite;
        	var prix_avec_remise = (remise*prix_total_normal)/100;
        	if((actuel + 1) >= 1){
        		document.getElementById("cout_total_normal1").value = prix_total_normal ;
        		document.getElementById("cout_total_remise1").value = prix_avec_remise;
        		document.getElementById("net_payer1").value = prix_total_normal-prix_avec_remise;
        		document.getElementById("date_end1").value = date3.toLocaleDateString();

        		document.getElementById("cout_total_remise").style.display = "inline";
        		document.getElementById("net_payer").style.display = "inline";
        		document.getElementById("cout_total_normal").style.display = "inline";
        		document.getElementById("date_end").style.display = "inline";
        		document.getElementById("valider").style.display = "inline";
        		document.getElementById("errorMsg").style.display = "none";
        	}else{
        		document.getElementById("cout_total_remise").style.display = "none";
        		document.getElementById("net_payer").style.display = "none";
        		document.getElementById("cout_total_normal").style.display = "none";
        		document.getElementById("valider").style.display = "none";
        		document.getElementById("errorMsg").style.display = "inline";
        	}
        }
        document.getElementById("type_client").onchange = function(){
        	if(document.getElementById("type_client").value == "client"){
        		alert("ok");
        		document.getElementById("remise_ordinaire").value = 5;
        	}else{
        		document.getElementById("remise_ordinaire").value = 10;
        	}
        	
        }  
    </script>
{% endblock %}